.vase.d/
vase_os/zazulago_vms/a/
vase_os/zazulago_vms/c/
vase_os/zazulago_vms/d/
vase_os/zazulago_vms/.vmkey.local
vase_os/zazulago_vms/archiso_work/
vase_os/zazulago_vms/archiso_profile
.zed/
.vscode/

logs/*
user_*.json
__pycache__/*
*.pyc
__pycache__
/.directory