.vase.d/
.zed/
.vscode/

vase_os/zazu_lago/a/
vase_os/zazu_lago/c/
vase_os/zazu_lago/d/
vase_os/zazu_lago/archiso_work/
vase_os/zazu_lago/archiso_profile

install-*.log
logs/*
user_*.json
__pycache__/*
*.pyc
__pycache__
/.directory
/archinstall
/znotes.md
/traffic
/traffic.json
/traffic.json.backup
src/
pkg/
*.pkg.tar.zst
vase-git/
