.vase.d/
.zed/
.vscode/

.secrets
vase_os/zazu_lago/c/*.qcow2
vase_os/zazu_lago/c/**.fd
vase_os/zazu_lago/d/*.iso*
vase_os/zazu_lago/archiso_work/
vase_os/zazu_lago/archiso_profile

install-*.log
logs/*
user_*.json
__pycache__/*
*.pyc
__pycache__
/.directory
/znotes.md
/traffic
/traffic.json
/traffic.json.backup
src/
pkg/
*.pkg.tar.zst
vase-git/
*.iso
*.img
